{% extends 'base.html' %}

{% block content %}
  <div class="col-md-10">
    <div class="well well-md">
      <h2>Add Customer</h2>
      <form method="post" action="/customers?view=add">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="firstname">First Name</label>
              <input type="text" name="firstname" value="" class="form-control" placeholder="First Name"/>
            </div>
            <div class="form-group">
              <label for="lastname">Last Name</label>
              <input type="text" name="lastname" value="" class="form-control" placeholder="Last Name"/>
            </div>
            <div class="form-group">
              <label for="birthdate">Birthdate</label>
              <input type="date" name="birthdate" class="form-control" placeholder="01/01/1999"/>
            </div>
          </div>
          <div class="col-md-4">
            <!-- Address -->
            <div class="form-group">
              <label for="address1">Address 1</label>
              <input type="text" name="address1" class="form-control" value="" placeholder="Address 1" />
            </div>
            <div class="form-group">
              <label for="address2">Address 2</label>
              <input type="text" name="address2" class="form-control" value="" placeholder="Address 2" />
            </div>
            <div class="form-group">
              <label>City</label>
              <input type="text" name="city" class="form-control" placeholder="City" />
            </div>
            <div class="row">
              <div class="col-md-7">
                <div class="form-group">
                  <label>State</label>
                  <input type="text" name="state" class="form-control" placeholder="State" />
                </div>
              </div>
              <div class="col-md-5">
                <div class="form-group">
                  <label>Zip Code</label>
                  <input id="zipCode" type="text" name="zipCode" class="form-control" placeholder="Zip" />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="license">License</label>
                <input type="text" name="license" class="form-control" placeholder="Driver's License">
              </div>
              <div class="form-group">
                <label for="gunLicense">Gun License</label>
                <input type="text" name="gunLicense" class="form-control" placeholder="Gun License">
              </div>
              <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" name="phone" class="form-control" placeholder="Phone Number">
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="text" name="email" class="form-control" placeholder="Email Address">
              </div>
            </div>
          </div>
        </div>
        <!-- Button -->
        <div class="btn-toolbar">
            <input type="submit" class="btn btn-primary" value="Save Customer" />
            <a href="/customers" class="btn btn-default">Customer List</a>
        </div>

      </form>
    </div>
  </div>
{% endblock content %}


