{% extends 'base.html' %}

{% block content %}
  <div class="col-md-10">
    <h2>Customers</h2>
    <div class="btn-toolbar">
      <a href="/customers?view=add" class="btn btn-primary">Add Customer</a>
      <a href="#customers-csv-upload" class="btn btn-success" data-toggle="modal" data-target="#customers-csv-upload">Upload Customers</a>
    </div>
    <table id="customers-table" class="table table-hover table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <th><input type="checkbox" id="checkall" /></th>
          <th>Name</th>
          <th>Birthdate</th>
          <th>Date Started</th>
          <th>Last Transaction</th>
          <th>No. Of Transactions</th>
       </tr>
      </thead>
      <tbody>
        {% for customer in customers %}
        <tr class="listLink" data-key="{{customer.key.urlsafe()}}">
          <td><input type="checkbox" class="checkthis" /></td>
          <td>{{customer.lastname}}, {{customer.firstname}}</td>
          <td>{{customer.birthdate}}</td>
          <td>{{customer.dateCreated}}</td>
          <td>{{customer.dateUpdated}}</td>
          <td>0</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div id="customers-csv-upload" class="modal fade">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <form method="post" action="" enctype="multipart/form-data">
          <div class="modal-header">
            <h4 class="modal-title">Upload Stores from CSV</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="csvStores">Stores CSV</label>
              <input type="file" class="form-control" name="csvStores" />
            </div>
          </div>
          <div class="modal-footer">
            <a href="#close" class="btn btn-default" data-dismiss="modal">Close</a>
            <a href="" class="btn btn-primary">Upload</a>
          </div>
        </form>
      </div>
    </div>
  </div>          
  {% endblock content %}
