#login {
	margin-top:40%;
}
#toolbar {
	margin:20px 0 20px 0;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus{
	text-shadow:0 -1px 0 #286090;
	background-image:-webkit-linear-gradient(top,#337ab7 0,#2b669a 100%);
	background-image:-o-linear-gradient(top,#337ab7 0,#2b669a 100%);
	background-image:-webkit-gradient(linear,left top,left bottom,from(#337ab7),to(#2b669a));
	background-image:linear-gradient(to bottom,#337ab7 0,#2b669a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2b669a', GradientType=0);
	background-repeat:repeat-x;
	border-color:#2b669a;
}

.gcapplications_table_list {
	padding:10px;
	width:300px;
}

.well-divider {border:1px solid #cfcfcf;width:100%;margin:10px 0 10px 0;}
.listLink {cursor:pointer;}

select.input-vanishing-border {}
.input-vanishing-border {border:1px solid #ffffff;box-shadow:inset 0 0px 0px rgba(0,0,0,.075);font-size:14px;}
.input-vanishing-border:hover {border:1px solid #afafaf;box-shadow:inset 0 1px 1px rgba(0,0,0,.075);}



